# Quarto/Build
_site/
docs/              # CI pusht docs/ mit 'git add -f', lokal bleibt es ignoriert
.quarto/

# Envs/Caches
.Rproj.user/
.Rhistory
.RData
renv/
venv/
__pycache__/
node_modules/

# Scratch/Outputs
outputs/
cache/
tmp/
*.log

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
configure.log
/.quarto/
